html {
	height: 100%;
}
body{
	background-image: linear-gradient(0deg, #8e9eab, #eef2f3);
	padding: 100px;
	border-style: red;
}

.he {

	background-color: green;
}

.first {

	width: 150px;
	height: 150px;
	border-radius: 50%;
	float:left;
	margin-right:50px;
}
 
 #too {

 	background-color: red;
 }

 #tooblue {

 	background-color: blue;
 }

 #tooyellow {

 	background-color: yellow;
 }